.react-datepicker {
  @apply rounded-16;
  @apply border-2;
  @apply border-gray-200;
  @apply bg-bg2;
  @apply overflow-hidden;
  @apply px-26;
  @apply py-36;
}

.react-datepicker__current-month {
  @apply text-16;
  @apply font-bold;
  @apply leading-[24px];
  @apply tracking-[0.38px];
}

.react-datepicker__navigation {
  @apply top-4;
}

.react-datepicker__day-name {
  @apply text-13;
  @apply text-gray-400;
  @apply font-medium;
}

.react-datepicker__header {
  @apply border-b-0;
  @apply bg-transparent;
}

.react-datepicker__day:first-child {
  @apply text-[#F43A3A];
}

.react-datepicker__day--selecting-range-start,
.react-datepicker__day--in-range,
.react-datepicker__day--selecting-range {
  @apply bg-gray-200;
  @apply text-white;
  @apply rounded-4;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start,
.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end,
.react-datepicker__day--in-range:hover {
  @apply bg-gray-900;
}

.react-datepicker__month-container {
  @apply mr-14;
}

.react-datepicker__month-container:last-child {
  @apply mr-0;
}
